# ID formularza z MailerLite dedykowanego dla tej ściągawki
# Znajdziesz go w kodzie embed / adresie URL formularza w MailerLite (np. https://assets.mailerlite.com/jsonp/973308/forms/TUTAJ_ID/subscribe)
NEXT_PUBLIC_MAILERLITE_FORM_ID=200227400745748223
